.footer {
  height: 16px;
  width: auto;
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 16px;
  align-items: center;
}

.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 0;
}
