.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 254px;
  margin-top: 34px;
}

.logo_image {
  width: 32px;
  
}

.logo_title {
  padding-top: 22px;
  width:254.84px;
}


@media (min-width: 545px) and (max-width: 1024px) {
  .header {
    width: 254px;
    height: 66px;
  }
}

@media (max-width: 544px) {
  .header {
    width: 100%;
    margin-top: 20px;
  }

  .logo_image {
    width: 23.69px;
  }
  .logo_title {
    width: 189px;
    padding-top: 16.53px;
  }
}
